{
  "query": {
    "bool": {
      "should": [
        {
          "bool": {
            "must": [
              {
                "term": {
                  "query_type": "term_before"
                }
              },
              {
                "match": {
                  "normalized_name.term": {
                    "query": "###KEYWORD###"
                  }
                }
              }
            ],
            "should": [
              {
                "rank_feature": {
                  "field": "guideline_score_add"
                }
              }
            ]
          }
        },
        {
          "bool": {
            "must": [
              {
                "term": {
                  "query_type": "term_after"
                }
              },
              {
                "match": {
                  "normalized_name.term": {
                    "query": "###KEYWORD###"
                  }
                }
              }
            ],
            "should": [
              {
                "rank_feature": {
                  "field": "guideline_score_add"
                }
              }
            ]
          }
        },
        {
          "bool": {
            "must": [
              {
                "term": {
                  "query_type": "mlt_before"
                }
              },
              {
                "more_like_this": {
                  "fields": [
                    "normalized_name.mlt"
                  ],
                  "like": "###KEYWORD###",
                  "max_query_terms": 100,
                  "minimum_should_match": "30%",
                  "min_term_freq": 0,
                  "min_word_length": 0,
                  "max_word_length": 0
                }
              }
            ],
            "should": [
              {
                "rank_feature": {
                  "field": "guideline_score_add"
                }
              }
            ]
          }
        },
        {
          "bool": {
            "must": [
              {
                "term": {
                  "query_type": "mlt_after"
                }
              },
              {
                "more_like_this": {
                  "fields": [
                    "normalized_name.mlt"
                  ],
                  "like": "###KEYWORD###",
                  "max_query_terms": 100,
                  "minimum_should_match": "30%",
                  "min_term_freq": 0,
                  "min_word_length": 0,
                  "max_word_length": 0
                }
              }
            ],
            "should": [
              {
                "rank_feature": {
                  "field": "guideline_score_add"
                }
              }
            ]
          }
        }
      ]
    }
  }
}
