asgiref
attrs
autopep8
certifi
chardet
click
colorama
coverage
elasticsearch
fastapi
flake8==3.9.2
h11
idna
iniconfig
joblib
loguru
mccabe==0.6.1
numpy
packaging
pluggy
py
pycodestyle==2.7.0
pydantic
pyflakes==2.3.1
pyparsing
pytest
pytest-cov
python-multipart
requests
scikit-learn
scipy
six
sklearn
starlette
threadpoolctl
toml
typing-extensions
urllib3
uvicorn
win32-setctime
